body, html{
  margin:0;

}
$background: lighten(rgb(21, 47, 159), 20);

#content{
  margin:0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
  "welcome welcome welcome welcome welcome welcome"
  "welcome welcome welcome welcome welcome welcome"
  "welcome welcome welcome welcome welcome welcome"
  "welcome welcome welcome welcome welcome welcome"
  "welcome welcome welcome welcome welcome welcome"
  "main main main main main main"
  "main main main main main main"
  "main main main main main main"
  "main main main main main main"
  "contact contact contact contact contact contact";
  #welcome{
    grid-area: welcome;
    position:relative;
    width: 100%;
    background-color:transparent;
  }

  .main{
    grid-area: main;
    position: relative;

  }
  .contact{
    grid-area: contact;
    position:relative;
  }
}
#content > *{
  background-color: $background;

}
// scrollbar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background:$background;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: complement($background);
}
