@import url('https://fonts.googleapis.com/css?family=Roboto');

$borderT: 1px solid #000;
$color:rgb(21, 47, 159);
.Skill{
  width:100%;
  height: auto;
  margin: auto;
  position: relative;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;

  .slider{
    margin:auto;
    margin-top:5px;
    width: 100%;
    min-height:200px;
    position: relative;
    background:$color;
    color:lighten(complement($color), 35);
    transition: 1.33s ease;//js transitions

  }
  .layer1{
    top:0;
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width:90%;
    height: 100%;
    margin-left: 10%;
    background:darken($color, 10);
  }
  .logo{
    width: 30%;
  }
  .left, .right{
    width:50%;
     p{
       font-size: 18px;
       font-weight: bold;
        text-align: center;
     }
  }
  .skillImage{
    width:15%;
    max-height: 200px;
    margin:auto;
  }
  .layer2{
    top:0;
    position: absolute;
    width:90%;
    height: 100%;
    margin-left: 10%;
    background:darken($color, 15);
    z-index: 1;
    transition: 1s ease;

  }
  h1{
    text-align: center;
    opacity: 0;
    color:lighten(complement($color), 25);
    animation: showUp 1s .5s ease forwards;
  }

  .direction{
    margin:auto;
    width:70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .left, .right, .skillImage{
    opacity: 0;
  }

  .arrow{
    left:0;
    top:22%;
    width:10%;
    height:auto;
    margin:auto;
    position: absolute;
    z-index: 2;
    transition: 1s ease;
    transform:rotate(180deg)
  }
  input{
    width: 10%;
    height:100%;
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
    &:checked ~.layer2 {
      transform: translate(-100%);
      background-color: darken($color, 18);
    }
    &:checked ~ .arrow {
        transform:rotate(0deg);
    }
    &:not(:checked) ~ .layer2 .direction .left {
      animation:showUp 1s ease both, driveIn 1s ease both;
    }
    &:checked ~ .layer1 .skillImage{
      animation: img 1s ease both;
    }
    &:not(:checked) ~ .layer2 .direction .right{
      animation:showUp 1s ease both, driveIn 1s ease both;
    }


  }


}
@keyframes showUp {
  0%{
    opacity: 0
  }
  100%{
    opacity:1;
  }
}
@keyframes img {
  0%{
    opacity: 0;
    transform: translate(350px);
  }
  100%{
    opacity:1;
    transform: translate(0px);
  }
}

@keyframes driveIn {
  0%{
      transform: translate(-200px);
  }
  100%{
    transform: translate(0px);
  }
}
@for $i from 1 to 3 {
  #direction div:nth-child(#{$i}) {
    animation-delay: $i * .25s;
   }
}
@for $i from 1 to 6 {
  #Skill .layer1 img:nth-child(#{$i}) {
    animation-delay: $i * .3s;
   }
}

@media screen and (max-width:640px) {
  .Skill {
    .direction{
      flex-direction: column;
      width:95%;
      margin:auto;
    }
    .skillImage{
      width:75px;
      max-height: 100px;
    }
    .left, .right{
      width:90%;
      text-align: center;
    }
    .layer2{
      position: relative;
    }
    .layer1{
      position: absolute;
    }

  }

}
