@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url('https://fonts.googleapis.com/css?family=Lobster|Oswald|Sedgwick+Ave+Display');

@mixin bee {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
  .dashBox{
    @include bee;
    height:100%;
    text-align: center;
    background-color: transparent;
    z-index: 4;
    h1 {
      @include bee;
      display: inline-block;
      color: rgb(213, 212, 212);
      font-family: 'Lobster', cursive;

      font-size: 70px;
      text-shadow: .05em .05em 0 hsla(230,40%,50%,1);
      }
      h1:after {
        @include bee;
        content: attr(data-shadow);
        position: absolute;
        top: .08em; left: .08em;
        z-index: -1;
        text-shadow: none;
        background-image:
          linear-gradient(
            45deg,
            transparent 45%,
            rgb(89, 142, 168) 45%,
            rgb(89, 142, 168) 55%,
            transparent 0
            );
        background-size: .5em .5em;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        animation: shad-anim 15s linear infinite;
        }
  }
  .dashBox:before{
    @include bee;
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    height: 100%;
  }




@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }
