$shadowColor:#f7ca01;
.text{
  left:0;
  top:0;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height:100%;
  text-align: center;
  align-items: center;
  z-index: 1;
  background:inherit;

  span{
    text-align: center;
    font-size: 70px;
    transform: translate3d(calc(-50% - 12px),calc(-50% + 12px),0);
    mix-blend-mode: screen;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: 0px 0px $shadowColor,
              0px 0px $shadowColor,
              0px 0px $shadowColor,
              0px 0px $shadowColor,
              0px 0px $shadowColor,
              0px 0px $shadowColor,
              0px 0px $shadowColor,
              0px 0px $shadowColor,
              0px 0px $shadowColor,
              0px 0px $shadowColor,
              0px 0px $shadowColor;
    animation: revolve 2s 1.5s ease forwards;
    opacity: 0;
  }
  .text-container{
    width:80%;
  }
}
@keyframes revolve {
  to{
    opacity:1;
     transform: translate3d(-50%,-50%,0);
    text-shadow: -2px 1px $shadowColor,
        -3px 2px $shadowColor,
        -4px 3px $shadowColor,
        -5px 4px $shadowColor,
        -6px 5px $shadowColor,
        -7px 6px $shadowColor,
        -8px 7px $shadowColor,
        -9px 8px $shadowColor,
        -10px 9px $shadowColor,
        -11px 10px $shadowColor,
        -12px 11px $shadowColor;
  }
}
@media screen and (max-width:640px) {
 .text{
   justify-content: center;
   .text-container{
     width:95%;
     padding-left: 10px;
   }
   span{font-size: 35px;}
 }
}
